{% extends 'base.html' %}

{% block content %}
<h1>Add a vehicle</h1>
<div class="row">
<form method="POST">
    {% csrf_token %}

    {{ formset.management_form }}
<div id="form_set">
    {% for form in formset %}
    {% for field in form %}
        <div class='col-3'>
            {{field.label_tag}}
            {{field}}
            {{field.help_text}}
        </div>

    {% endfor %}
    {% endfor %}
</div>

<button type="button"  id="add_more">Add More</button>
<div id="empty_form" style="display:none">
        {% for field in formset.empty_form %}
        <div class='col-3'>
            {{field.label_tag}}
            {{field}}
            {{field.help_text}}
        </div>

    {% endfor %}
</div>

    <button type="submit">Submit</button>
</form>
</div>

{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $('#add_more').click(function() {
	    var form_idx = $('#id_form-TOTAL_FORMS').val();
	    $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
	    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{% endblock %}