* {
	margin: 0;
	font-family: 'Sansita Swashed';
}

body  {
	background-color: black;
	font-size: 21px;
	color: white;
}	
	

.logo {
	width: 50px;
	height: 60px;
	position: absolute;
  	top: 0px;
  	border-width: 0;
  	left: 3px;
}

nav  {
	text-align: center;
	background-color: gold;
	padding: 30px;
	padding-right: 0;
	padding-left: 52px;
	position: relative;

}

ul {
	margin-top: 15px;
	position: absolute;
	top: 0;
	right: 0;
}


li {
	display: inline;
	padding: 20px;
}

a {
	color: grey;
	text-decoration: none;
	padding: 0;
}

ul li:hover {
	background-color: black;

}

header {
	text-align: center;
	margin-top: 20px;
}

span {
	text-decoration: underline;
}

.about {
	margin-top: 40px;
	text-align: center;
}

img {
	width: 300px;
	height: 300px;
	border: solid gold 3px;

}	


footer {   
	color: grey;
   	position:relative;
   	left:0px;
   	bottom:0px;
   	height:25px;
   	width:100%;
   	background:gold;
}

